*{
    margin: 0;
    padding: 0;
}

.main {
    background-color: rgb(66, 52, 35);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgb(43, 38, 32);
    border-radius: 50%;
    border: 4px solid orange;
}

#second {
    width: 4px;
    height: 240px;
    background-color: white;
    position: absolute;
    left: 250px;
    bottom: 248px;
    transform-origin: 0 100%;
    border-radius: 4px;
    

}

#minute {
    width: 8px;
    height: 180px;
    background-color: rgb(160, 82, 82);
    position: absolute;
    left: 250px;
    bottom: 246px;
    transform-origin: 0 100%;
    border-radius: 8px;
}

#hour {
    width: 12px;
    height: 140px;
    background-color: rgb(62, 26, 192);
    position: absolute;
    left: 250px;
    bottom: 244px;
    transform-origin: 0 100%;
    border-radius: 12px;
    
}

#dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(102, 84, 6);
    position: absolute;
    left: 230px;
    bottom: 230px;
}